.product-table {
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    th {
      text-align: center;
    }
    td {
      text-align: center;
    }
    th,
    td {
      span {
        font-size: 0.6875rem;
      }
    }
  }
}